[color]
	ui = true
[user]
	name = Alex Safatli
	email = safatli@cs.dal.ca
[github]
	user = AlexSafatli
[push]
	default = matching
[alias]
  upstream = remote add upstream
  sync = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
  s = status
  co = checkout
  new = checkout -b
  b = branch
  ec = config --global -e
  up = !"git pull --rebase --prune $@ && git submodule update --init --recursive"
  cm = !"git add -A && git commit -m"
  wipe = !"git add -A && git commit -qm 'WIPE-SAVEPOINT' && git reset HEAD~1 --hard"
  bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
  done = "!f() { git checkout ${1-master} && git up && git bclean ${1-master}; }; f"
  log = log --graph --pretty=oneline --abbrev-commit